<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="FUSProjectUsageTrigger">
    <session id="1467702432">
      <usages-collector id="statistics.lifecycle.project">
        <usage id="project.opened" value="25" />
        <usage id="project.open.time.7" value="3" />
        <usage id="project.closed" value="22" />
        <usage id="project.open.time.34" value="1" />
        <usage id="project.open.time.5" value="2" />
        <usage id="project.open.time.56" value="1" />
        <usage id="project.open.time.31" value="1" />
        <usage id="project.open.time.6" value="2" />
        <usage id="project.open.time.24" value="1" />
        <usage id="project.open.time.32" value="1" />
        <usage id="project.open.time.12" value="1" />
        <usage id="project.open.time.25" value="1" />
        <usage id="project.open.time.8" value="5" />
        <usage id="project.open.time.11" value="1" />
        <usage id="project.open.time.9" value="2" />
        <usage id="project.open.time.30" value="1" />
        <usage id="project.open.time.10" value="2" />
      </usages-collector>
      <usages-collector id="statistics.file.types.open">
        <usage id="JAVA" value="6" />
        <usage id="PLAIN_TEXT" value="1" />
        <usage id="CLASS" value="16" />
        <usage id="XML" value="1" />
        <usage id="Properties" value="2" />
        <usage id="YAML" value="1" />
        <usage id="test file name" value="3" />
        <usage id="Beetl file" value="3" />
      </usages-collector>
      <usages-collector id="statistics.file.types.edit">
        <usage id="JAVA" value="12" />
        <usage id="Properties" value="1" />
        <usage id="test file name" value="6" />
        <usage id="Beetl file" value="1" />
      </usages-collector>
      <usages-collector id="statistics.run.configuration.start" />
      <usages-collector id="statistics.terminal" />
      <usages-collector id="statistics.build.gradle.actions" />
      <usages-collector id="statistics.vcs.git.usages" />
      <usages-collector id="statistics.actions.runAnything" />
      <usages-collector id="statistics.debugger.breakpoints.usage" />
      <usages-collector id="statistics.build.tools.actions" />
      <usages-collector id="statistics.build.maven.actions" />
    </session>
  </component>
  <component name="ProjectInspectionProfilesVisibleTreeState">
    <entry key="Project Default">
      <profile-state>
        <expanded-state>
          <State />
          <State>
            <id>Probable bugs</id>
          </State>
        </expanded-state>
        <selected-state>
          <State>
            <id>ComparingReferences</id>
          </State>
        </selected-state>
      </profile-state>
    </entry>
  </component>
  <component name="VcsLogIndexCollector">
    <option name="indexTime" value="550" />
  </component>
</project>