<?xml version="1.0" encoding="UTF-8"?>
<conversion>
  <applied-converters>
    <converter id="android-module-to-java-module" />
    <converter id="android-proguard-options" />
    <converter id="android-sdk-library" />
    <converter id="groovy-modules-to-facets" />
    <converter id="groovy-script-run-configurations" />
    <converter id="junit-to-android-junit-configurations" />
    <converter id="kotlin-non-jvm-source-roots" />
  </applied-converters>
  <project-files>
    <file path="D:\ideaICWS\springboot-plus\.idea\compiler.xml" timestamp="1551431749958" />
    <file path="D:\ideaICWS\springboot-plus\.idea\encodings.xml" timestamp="1550127957174" />
    <file path="D:\ideaICWS\springboot-plus\.idea\misc.xml" timestamp="1550125763493" />
    <file path="D:\ideaICWS\springboot-plus\.idea\vcs.xml" timestamp="1550125811713" />
    <file path="D:\ideaICWS\springboot-plus\.idea\workspace.xml" timestamp="1551431992423" />
  </project-files>
</conversion>

